.clock {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
    transition-property: border, box-shadow;
}

.clock h1 {
    font-size:2em;
    font-weight: 700;
    color: #2EB67D;
    letter-spacing: 3px;

    text-align: right;
}

.clock h2 {
    font-size:1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2EB67D;
    text-align: right;
}