/* LOGIN FORM CSS  */

.container{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 440px;
  margin: auto;
}

.login{
  text-align: center;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  padding: 50px 20px;
}

.login .title{
  height: 90px;
  background: #0a8d48;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

::selection{
  background: #0a8d48;
}

.login form{
  padding-top: 25px;
  margin: 10px;
}

.login form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.login form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 10px !important;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}

.login form .cancel {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 10px !important;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
  background: none;
  border: none;
  font-size: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 25px;
}
.login form .submit {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  border-radius: 5px 5px 0 0;
  background: #0a8d48;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #fff;
}

.login form .not-registered {
  padding: 3px;
  border-radius: 5px;
  border: none;
  background: #0a8d48;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #fff;
}

.login p{
  text-align: left;
  color: red;
}

form .button .cancel:hover{
  color: #F7B219;
}
